*{
    margin:0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:Glory;
}
.inch{
background-color: #323232;
align-items: center;
margin: auto;
color: white;
width: 400px;
height: 250px;
margin-top: 90px;
}
h1{
    padding-top: 20px;
    margin-left:45px;
    margin-bottom: 15px;

}
label{
    margin-left: 10px;
    margin-top: 15px;
}
#num{
    width: 95%;
    height:39px;
    margin-left: 10px;
}
.btn-submit{
    width:95%;
    color: #323232;
    height: 39px;
    margin-left: 10px;
    margin-top: 9px;
    background-color:
    #007BFF;
    font-size: 15px;
}
button{
    width:95%;
    height: 39px;
    color: black;
    margin-left: 10px;
    margin-top: 9px;
    background-color:
    #28A745;
    font-size: 15px;
}

@media (max-width:570px){
    .inch{
        width: 250px;
         height: 280px;
    }

    h1{
        padding-top: 20px;
        margin-left:35px;
        margin-bottom: 15px;
    
    }

}

@media (min-width:570px) and(max-width:900){
    .inch{
        width: 380px;
         height: 250px;
    }

    h1{
        padding-top: 20px;
        margin-left:35px;
        margin-bottom: 15px;
    }
}















